
# Blasphemous multiplayer publisher v1.1.0
name: Build

on:
  push:
    tags: [ "**" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Export Settings
      run: |
        CLIENT_NAME=$(grep -oP '<TargetName>\K[^<]+' Blasphemous.Multiplayer.Client/Blasphemous.Multiplayer.Client.csproj)
        echo "CLIENT_NAME=$CLIENT_NAME" >> $GITHUB_ENV
        SERVER_NAME=$(grep -oP '<ExportName>\K[^<]+' Blasphemous.Multiplayer.Server/Blasphemous.Multiplayer.Server.csproj)
        echo "SERVER_NAME=$SERVER_NAME" >> $GITHUB_ENV
        MP_VERSION=$(grep -oP '<Version>\K[^<]+' Directory.Build.props)
        echo "MP_VERSION=$MP_VERSION" >> $GITHUB_ENV

    - name: Build Project
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore
        dotnet publish Blasphemous.Multiplayer.Server/Blasphemous.Multiplayer.Server.csproj -c Release -r win-x64 -o publish/${{ env.SERVER_NAME }}-win-x64
        dotnet publish Blasphemous.Multiplayer.Server/Blasphemous.Multiplayer.Server.csproj -c Release -r linux-x64 -o publish/${{ env.SERVER_NAME }}-linux-x64
        dotnet publish Blasphemous.Multiplayer.Server/Blasphemous.Multiplayer.Server.csproj -c Release -r osx-x64 -o publish/${{ env.SERVER_NAME }}-osx-x64

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Multiplayer v${{ env.MP_VERSION }}
        draft: true

    - name: Upload Client
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: publish/${{ env.CLIENT_NAME }}.zip
        asset_name: ${{ env.CLIENT_NAME }}.zip
        asset_content_type: application/zip

    - name: Upload Server (win64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: publish/${{ env.SERVER_NAME }}-win-x64.zip
        asset_name: ${{ env.SERVER_NAME }}-win-x64.zip
        asset_content_type: application/zip

    - name: Upload Server (linux64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: publish/${{ env.SERVER_NAME }}-linux-x64.zip
        asset_name: ${{ env.SERVER_NAME }}-linux-x64.zip
        asset_content_type: application/zip

    - name: Upload Server (osx64)
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: publish/${{ env.SERVER_NAME }}-osx-x64.zip
        asset_name: ${{ env.SERVER_NAME }}-osx-x64.zip
        asset_content_type: application/zip

    - name: Upload Nuget
      run: dotnet nuget push **\*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json